name: Terraform + AKS + DB + App + Test

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
      TF_VAR_ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
      TF_IN_AUTOMATION: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # -----------------------
      # Azure Login (SP Secret)
      # -----------------------
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      # -----------------------
      # Terraform Infra
      # -----------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve

      # -----------------------
      # AKS Access
      # -----------------------
      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group rg-terraform-demo \
            --name demo-aks \
            --overwrite-existing

      - name: Verify cluster
        run: |
          kubectl cluster-info
          kubectl get nodes

      # ======================
      # DB LAYER
      # ======================
      - name: Deploy MySQL
        run: |
          kubectl apply -f k8s/mysql-pvc.yaml
          kubectl apply -f k8s/mysql-service.yaml
          kubectl apply -f k8s/mysql-deployment.yaml
          kubectl apply -f k8s/mysql-init-configmap.yaml
          kubectl apply -f k8s/mysql-init-job.yaml

      # ======================
      # APP LAYER
      # ======================
      - name: Deploy Nginx
        run: |
          kubectl apply -f k8s/nginx-deployment.yaml
          kubectl apply -f k8s/nginx-service.yaml

      # ======================
      # TESTING LAYER
      # ======================
      - name: Run Tests
        run: |
          kubectl apply -f k8s/mysql-test-job.yaml
          kubectl apply -f k8s/nginx-test-job.yaml

      # -----------------------
      # AUTO DESTROY ON FAILURE
      # -----------------------
      - name: Terraform Destroy (on failure)
        if: failure()
        working-directory: terraform
        run: terraform destroy -auto-approve
